@model Review

@{
    ViewData["Title"] = "Create Review";
}

<h2>Create Review</h2>

<form asp-action="Create" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="MovieName" class="control-label"></label>
        <input asp-for="MovieName" class="form-control" />
        <span asp-validation-for="MovieName" class="text-danger"></span>
    </div>
    <div>
        @Html.LabelFor(m => m.Star)
        @Html.EditorFor(m => m.Star)
        @Html.ValidationMessageFor(m => m.Star, "", new { @class = "text-danger " })
    </div>
    <div>
        @Html.LabelFor(m => m.Comment)
        @Html.TextBoxFor(m => m.Comment)
        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger " })
    </div>
    <button type="submit">Add Review</button>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}