@model Review

@{
    ViewData["Title"] = "Create Review";
}

<h2>Create Review</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Movies)
        @Html.DropDownListFor(m => m.Movies, new SelectList(Model.Movies, "Id", "Name"), "Select Movie")
    </div>
    <div>
        @Html.LabelFor(m => m.Star)
        @Html.EditorFor(m => m.Star)
        @Html.ValidationMessageFor(m => m.Star, "", new { @class = "text-danger " })
    </div>
    <div>
        @Html.LabelFor(m => m.Comment)
        @Html.TextBoxFor(m => m.Comment)
        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger " })
    </div>
    <button type="submit">Add Review</button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}