@model MovieDB.Models.ReviewViewModel

<h2>Create Review</h2>

@* @using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Movies)
        @Html.DropDownListFor(m => m.Movies, new SelectList(Model.Movies, "Id", "Name"), "Select Movie")
    </div>
    <div>
        @Html.LabelFor(m => m.Star)
        @Html.EditorFor(m => m.Star)
        @Html.ValidationMessageFor(m => m.Star, "", new { @class = "text-danger " })
    </div>
    <div>
        @Html.LabelFor(m => m.Comment)
        @Html.TextBoxFor(m => m.Comment)
        @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger " })
    </div>
    <button type="submit">Add Review</button>
} *@

<form asp-controller="Review" asp-action="Create" method="post">
    <div>
        <label asp-for="SelectedMovieId">
            Movies
        </label>
        <select asp-items="Model?.Movies" asp-for="SelectedMovieId">
            <option value="">Select a movie</option>
        </select>
    </div>
    <div>
        <label asp-for="Star">
            Star
        </label>
        <input asp-for="Star" type="range" name="star" min="0" max="5" />
    </div>
    <label asp-for="Comment">Comment</label>
    <div>
        <textarea asp-for="Comment" maxlength="250" cols="40" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Add review</button>
</form>
