@model IEnumerable<MovieDB.Models.PlayList>

@{
    ViewData["Title"] = "Movie Playlists";
}

<h2>Movie Playlists</h2>

<table class="table" style="color: #fff">
    <thead>
        <tr>
            <th>Play List Id</th>
            <th>PlayList Name</th>
            <th>Movies</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var moviePlayList in Model)
        {
            var movieNames = string.Join(", ", moviePlayList.MoviePlayLists.Select(mp => mp.MovieName));
            
            <tr>
                <td>@moviePlayList.PlayListId</td>
                <td>@moviePlayList.PlayListName</td>
                <td>
                    @if (string.IsNullOrEmpty(movieNames))
                    {
                        <span>No movies added yet.</span>
                    }
                    else
                    {
                        @movieNames
                    }
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Update", new { playListId = moviePlayList.PlayListId })">Update</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { playListId = moviePlayList.PlayListId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" href="@Url.Action("Create")">Create New Movie Playlist</a>
